

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es William Jesus, aunque me suelen llamar solo William.
      Actualmente me encuentro estudiando la carrera de <strong>Ingeniería de Software</strong>
      en la Universidad San Ignacio de Loyola en Lima, Perú.
    </p>

    <p> 
      Desde muy joven me ha gustado la tecnología y la programación, por lo que decidí adentrarme en este mundo y aprender todo lo que pueda sobre el desarrollo de software. Algunas de las tecnologías que conozco son <strong>HTML, CSS, JavaScript, SQL, Oracle Database, Python, Java y C++ </strong> asimismo también tengo conocimientos en otras herramientas como <strong>Git, GitHub, Excel, Power BI y Bizagi Modeler.</strong> 
    </p>

    <p>
      Finalmente, me encuentro en búsqueda constante de nuevas oportunidades y retos que me permitan seguir creciendo tanto profesional como personalmente.
    </p>
  </div>


</article>
